.pDiv{font-size: 14px;
    color: gray;
    // width: 80%;
}
.aaccountTitle{    font-size: 15px;
    margin: 14px 0px 14px 0px; }
.mainTitle{color:var(--headerColor);font-weight: bold;}
.titleDiv{font-size: 15px;color:var(--headerColor);font-weight: bold;}
.acount_row{
    height:100%;
}
.colDiv{width: 50%;}