.headerColor{color: var(--headerColor);}
.boldPDiv{font-weight: bold;}
.orderBgDiv{background-color: #f8f8f8;}
.fontPDiv{font-size: 13px;}
.imageorder{height: 80px;
    /* width: 100%; */
    object-fit: contain;}
    .btnDiv{display: block;margin: auto;width: 100px;}
    .borderRadius{ border-radius: 10px;   padding: 4px;}