
<ion-content [ngClass]="{'content-bg':  platform.width()<740}">
  <ion-row class="ion-justify-content-center abc1">
    <ion-col size-xl="4" size-md="8" size-xs="12" [ngClass]="{'boundary': platform.width()>740}">
      <ion-grid>
        <ion-row>
          <ion-col >
            <img src = "assets/icon/logo.svg" class="small_p">
          </ion-col>
          <ion-col class="col">
            <img src = "assets/icon/abc.png" class="small">
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-row>
        <ion-col push-lg="1">
          <p class="ion-no-margin frstmsg" [innerHTML]="mobileNumberData?.data?.FirstMsg"></p>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col push-lg="1">
        <p tappable (click)="mobileno()" class ="para">{{mobileNumberData?.data?.changeNumberText}}&nbsp;{{mobileNumberData?.data?.SecondMsg}}</p>
      </ion-col>
    </ion-row>  
            <!-- <ion-grid class="grid"> -->
              <ion-row class = "boxInput">
                <ion-col class="box1" [size]="3">
                 <!-- <div class = "box"> -->
                  <ion-input class = "box" maxlength="1" mode="md" placeholder="*" type="tel" (ionFocus)="checkFocus(1)"
                    #otp1 (keyup)="moveFocus(otp2, FirstOtp, '1')" [(ngModel)]="FirstOtp"></ion-input>
                  <!-- </div> -->
                  </ion-col>
                <ion-col class="box1" [size]="3">
                  <!-- <div > -->
                 <ion-input class = "box" maxlength="1" mode="md" placeholder="*" type="tel" (ionFocus)="checkFocus(2)"
                 #otp2  (keyup)="moveFocus(otp3, SecondOtp, '2')" [(ngModel)]="SecondOtp"></ion-input>
                <!-- </div> -->
                </ion-col>
                <ion-col class="box1" [size]="3">
                  <!-- <div class = "box"> -->
                 <ion-input class = "box" maxlength="1" mode="md" placeholder="*" type="tel"  (ionFocus)="checkFocus(3)"
                 #otp3 (keyup)="moveFocus(otp4, ThirdOtp, '3')" [(ngModel)]="ThirdOtp"></ion-input>
                <!-- </div> -->
                </ion-col>
                <ion-col class="box1" [size]="3">
                  <!-- <div class = "box"> -->
                 <ion-input class = "box" maxlength="1" mode="md" placeholder="*" type="tel"  
                 #otp4  (ionFocus)="checkFocus(4)" (keyup)="moveFocus(otp4, FourthOtp, '4')" [(ngModel)]="FourthOtp"></ion-input>
                <!-- </div> -->
                </ion-col>
              </ion-row>
            <!-- </ion-grid> -->
  
  <ion-row>
    <ion-col push-lg="1">
      <p class="para" tappable (click)="SendOtp('Resend','voice')" [innerHTML]="mobileNumberData?.data?.voiceMsg"></p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col push-lg="1">
      <p class="para ion-no-margin">{{mobileNumberData?.data?.ThirdMsg}}&nbsp;
        <span tappable (click)="SendOtp('Resend','sms')">{{mobileNumberData?.data?.resendText}}</span></p>
    </ion-col>
  </ion-row>
  
  <div class = "butt1" [ngClass]="{'banner': platform.width()<740}">
    <ion-button [disabled]="FirstOtp.trim()=='' || SecondOtp.trim()=='' || ThirdOtp.trim()=='' || FourthOtp.trim()==''"
   tappable (click) ="Continue()" class="ionic_btn">{{mobileNumberData?.data?.buttonText}}</ion-button>
    <img src="assets/icon/Design 1.png" class ="banner_bg">
  </div>
      </ion-col>
      </ion-row>
</ion-content>
