<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row >
    <ion-col [size]="12" size-sm="12" size-md="8" size-lg="8" push-lg="2" push-md="2" class="whiteCol ion-padding">
      <!-- <p class="titleDiv" [innerHTML]="pageTitle"></p> -->
      <p class="contentDiv" [innerHTML]="privacyData"></p>
      <!-- <ion-button *ngIf="homePageData?.btn_applicable==true" color="danger" class="knowledgeButton"
      (click)="gototerms()">{{homePageData?.btn_text}}</ion-button> -->
      </ion-col>
      </ion-row>
</ion-content>
