h5{color: #B01D22;font-size: 20px;}
.act{text-transform: initial;--background: linear-gradient(206deg, red 57%,#e94325 33%) !important;border-radius: 8px;
    width: 100%;height: 100px;color: white;text-align: center;font-size: 25px;}
hr{width: 100% !important;font-size: 1em !important;border: 0.5px solid gainsboro;}
.userImageUpload{ border-radius: 50%; border: 3px dotted #b01d22; object-fit: cover;}
 .profile_image{width: 75px;height: 70px;}
.view{--background: transparent;color: #b01d22;text-transform: capitalize;--border-radius: 20px;}
.but-div{ text-align: right;}
.no{margin-top: 6px;font-size: 36px;}
.bgWalletImage{    background-repeat: no-repeat;
    background-size: cover;padding: 5px;
    background-position: center;}