.selcetP{margin: 0px 0px 0px 10px;}
.typeImage{height: 50px;width:100%;object-fit: contain;padding: 10px 0px 0px 0px;}
.pDiv{margin-top: 0px;font-size: 12px;}
.widthDivtype{width: 80%;display: block;margin: auto;}
.nextbtn{display: block;margin: auto;width: 30%;}
.container1{    width: 100%;
    // margin: 60px auto 0;
 }