.padd10{padding: 10px 0px 10px 0px;}
.ionic_btnic{
    --background: var(--headerColor);
    --border-radius: 14px;
    width: auto;
    text-transform: capitalize;
    height: 30px;
    font-size: 14px;
}
.txtcentr{text-align:center;}