h5{
    color: #B01D22;
    font-size: 20px;
}
.seg{
    padding: 15px;
}
.asign{
    padding-left: 31px;
}
.assign_card{
    box-shadow: 1px 1px 1px 2px #efeaea;
    width: 95%;
    padding: 15px;
    border-radius:10px;
    background-color: #c2bfbf47;
}
.ass_butt{
    // color: #f5f6f9;
    --background:  #B01D22;
    --border-radius: 14px;
    width: 113px;
    text-transform: capitalize;
    height: 30px;
    font-size: 14px;
  }