.col{text-align: end;}
.para{ font-size: small;}
.banner_bg {left: 0;width: 100%;border-radius: 10px;display: block;}   
ion-input { border-bottom:1px solid rgba(84, 83, 83, 0.6) !important;color:var(--text-light2);
    font-size:18px !important; font-weight: 500 !important; } 
 p span{color: var(--headerColor);}
.btnCenter{display: block;margin: auto; width:100%; color: white;}
.small{width: 120px;  text-align: right; margin-top:-10px;}
.small_p{width: 125px;}