<ion-header *ngIf="RegistrationType?.request_page == 'account_detail'
                || RegistrationType?.request_page == 'pending_customer'
                || RegistrationType?.request_page == 'active_customer' 
                || RegistrationType?.request_page == 'block_customer' 
                || RegistrationType.request_page == 'rejected_customer'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [ngClass]="{'content-bg':  platform?.width()<740}">
  <ion-row class="ion-justify-content-center">
    <ion-col size-xl="6" size-md="6" size-xs="12" class="boundary1">
     <ion-grid>
      <ion-row>
        <ion-col>
          <img src = "assets/icon/Bandhan Logo.png" class="small_p">
        </ion-col>
         <ion-col class="col ion-text-end" >
          <img src = "assets/icon/abc.png" class="small">
         </ion-col>
      </ion-row>
      </ion-grid>
    <ion-row>
      <ion-col [size]="12" *ngIf="formValue?.title">
        <p class="para ion-text-center">{{formValue?.title}}</p>
      </ion-col>
      <ion-col [size]="12" *ngIf="formValue?.sub_title" class="head" >
        <p class= "para2 ion-no-margin ion-text-center">{{formValue?.sub_title}}</p>
      </ion-col>
    </ion-row>




 <div *ngFor="let formField of formData" class="custom_container">
  <ion-row>
    <ion-col >
      <p class="categoryName">{{formField?.category_name}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let data of formField?.data" class="colu" size-xl="6" size-md="6" size-xs="12" >
      <ion-label *ngIf = "data?.type != 'radio'">
       {{data?.label}} <sup *ngIf="data?.is_mandatory==1">*</sup>
      </ion-label>
     
      <ion-input #input *ngIf="data?.type=='text'" id="{{data?.id}}" [disabled]="data?.is_editable==0" type = "text"
       placeholder="{{data?.placeholder}}" [(ngModel)]="data.answer" (ngModelChange)='checkInput(data,data.answer)'></ion-input>
     
      <ion-input #input *ngIf="data?.type=='number'" [disabled]="data?.is_editable==0" type = "tel" maxlength="{{data.min_value}}"
      placeholder="{{data?.placeholder}}" [(ngModel)]="data.showAns || data.answer" (ngModelChange)='checkInput(data, $event)'></ion-input>
      
      <ion-input #input *ngIf="data?.type=='email'" [disabled]="data?.is_editable==0" type = "email" 
      placeholder="{{data?.placeholder}}" [(ngModel)]="data.answer" (ngModelChange)='checkInput(data,data.answer)'></ion-input>
      <!-- <ion-input *ngIf="data?.type=='dob'" [disabled]="data?.is_editable==0" type ="date" placeholder="{{data?.placeholder}}" [(ngModel)]="data.answer" (ngModelChange)='checkInput(data,data.answer)'></ion-input> -->
      <!-- MMM DD YYYY -->
      <ion-datetime *ngIf="data?.type=='dob'" class="dateDiv" [disabled]="data?.is_editable==0" max={{currentDate}}
      displayFormat="MMM DD YYYY" placeholder="{{data?.placeholder}}" [(ngModel)]="data.answer" ></ion-datetime>


      <div *ngIf="(showDelearList==true) && (data?.type=='text') && (data?.call_api==1) && (data?.request_type=='dealer' || data?.request_type=='officer')" class="themeCard delearList" >
        <div class="delearText" *ngFor="let delearData of searchData">
          <p *ngIf="data?.request_type=='dealer'" tappable (click)="fillDelearName(delearData,data)">{{delearData?.dealer_code}}</p>
          <p *ngIf="data?.request_type=='officer'" tappable (click)="fillDelearName(delearData,data)">{{delearData?.full_name}}</p>
        </div>
      </div>
      <!-- <div *ngIf="showDelearList==true && data?.type=='text' && data.call_api==1 && data.request_type=='officer'" class="themeCard delearList" >
        <div class="delearText" *ngFor="let item of searchData">
          <p tappable (click)="fillDelearName(item,data)">{{item?.full_name}}</p>
        </div>
      </div> -->
      <ion-list *ngIf = "data?.type == 'radio'">
        <!-- [(ngModel)]="data.answer" -->
        <ion-radio-group [value]="data?.answer">
          <ion-list-header>
            <ion-label class = "radioType">
              {{data?.label}} <sup *ngIf="data?.is_mandatory==1">*</sup>
            </ion-label>
          </ion-list-header>
          <ion-item [disabled]="data?.is_editable==0" lines = "none" *ngFor = "let item of data?.option; let subOptInd=index" 
          (click)="radioGroupChange($event, item, data)">  
          <!-- [(ngModel)]="item.value"           -->
            <ion-radio [value]="item?.value" name="{{item?.label}}"  ></ion-radio>
            <ion-label>&nbsp;{{item?.label}}  </ion-label>
          </ion-item>
        </ion-radio-group>

        <ion-row class="ion-align-items-center" >
          <ion-col *ngFor = "let img of data?.imgArr;let k=index;" class="ion-text-center ion-padding" size-xl="12" size-md="12" size-xs="12" >
            <div *ngIf="img?.type=='image'">
              <div *ngIf="img?.answer==''" class = "card" >   
                <ion-row>
                  <ion-col>
                    <ion-label style="font-size: 14px;">
                      {{img?.label}}
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <!-- *ngIf="!platform?.is('cordova')" -->
                     <!--  -->
                    <!-- <ion-button *ngIf="platform?.is('cordova')" class="ionic_btn butt1" (click)="selectImage(img)">{{img?.btn_text}}</ion-button> -->
                    <ion-button  class="ionic_btn butt1" (click)="openSelectImageOpt(img)">{{img?.btn_text}}</ion-button>
                  </ion-col>
                </ion-row>
              </div>
              <br>
              <div *ngIf="img?.answer!=''"  >
                <div class="clsoeIcon" *ngIf="RegistrationType?.request_page == 'home' || RegistrationType?.request_page == 'dealer' || RegistrationType?.request_page == 'officer'
                || RegistrationType?.request_page == 'account_detail'"><ion-icon name="close" (click)="removeImage(img)"></ion-icon> </div>
                <img [src]="img?.answer" class = "card1" >
              </div>
            </div>
            <div *ngIf="img?.type=='dob'">
              <ion-item>
                <ion-label position="stacked">{{img?.label}}<sup *ngIf="img?.isMandatory==1">*</sup></ion-label>
                <ion-datetime displayFormat="MMM DD YYYY"  [disabled]="img?.is_editable==0" placeholder="{{img?.placeholder}}" [(ngModel)]="img.answer"></ion-datetime>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        </ion-list>
        <!-- [compareWith]="compareFn" -->
        <ion-item *ngIf = "data?.type == 'select'" class="w100">
          <!-- <ion-select  [disabled]="data?.is_editable==0"  (ionChange)="checkValue($event,data )"   interface="popover" placeholder="{{data?.placeholder}}" class="w100" >
              <ion-select-option *ngFor="let opt of data?.option" [value]="opt"  class="w100"> {{opt.label}}

              </ion-select-option>

          </ion-select> -->


          <ion-select  [disabled]="data?.is_editable==0"  [(ngModel)]="data.answer"   (ionChange)="checkValue($event,data )"  interface="popover" placeholder="{{data?.placeholder}}" class="w100" >
            <ion-select-option *ngFor="let opt of data?.option" value="{{opt.auto_id}}" >{{opt.label}}
            </ion-select-option>
     </ion-select>



        </ion-item>
        <ion-row *ngIf="data?.type == 'select' && showOther==1">
          <ion-col *ngFor="let item of SubOptionData?.sub_option">
              <ion-input #input *ngIf="item?.type=='text'" [disabled]="item?.is_editable==0" type = "text" placeholder="{{item?.placeholder}}" [(ngModel)]="item.answer" (ngModelChange)='checkInput(item,item.answer)'></ion-input>

          </ion-col>

        </ion-row>

        <!-- <div >
        </div> -->


  </ion-col>
  </ion-row>






 </div>

<br>
   <ion-row *ngIf="formData && formData?.length>=1 && formValue?.footer_data?.btn_text_applicable==true">
     <ion-col *ngIf="RegistrationType?.request_page == 'home' || RegistrationType?.request_page == 'dealer'
     || RegistrationType?.request_page == 'account_detail' || RegistrationType?.request_page == 'officer'">
       <ion-button class="ionic_btn" tappable (click)="back()">Back</ion-button>
     </ion-col>
    <ion-col *ngIf="LoginStoredType =='login' && RegistrationType?.request_page != 'dealer' && RegistrationType?.request_page != 'officer'
    && RegistrationType?.request_page != 'account_detail' && RegistrationType?.request_page != 'pending_customer'
    && RegistrationType?.request_page != 'active_customer' && RegistrationType?.request_page != 'block_customer' 
    && RegistrationType.request_page != 'rejected_customer' && RegistrationType?.request_page != 'home'" >
      <ion-button  class="ionic_btn" tappable (click)="submitFunCall('skip')">skip</ion-button>
     </ion-col>
     <ion-col  *ngIf="RegistrationType?.request_page == 'home' || RegistrationType?.request_page == 'dealer'
    || RegistrationType?.request_page == 'account_detail' || RegistrationType?.request_page == 'officer'">
      <ion-button  class="ionic_btn" tappable (click)="Submit('save')">Save</ion-button>
     </ion-col>
     <ion-col  *ngIf="RegistrationType?.request_page == 'pending_customer'">
      <ion-button *ngIf="RegistrationType?.request_page != 'active_customer'" class="ionic_btn" tappable 
      (click)="profileView('rejected')">Reject</ion-button>
       </ion-col>
       <ion-col  *ngIf="RegistrationType?.request_page == 'active_customer'">
        <ion-button class="ionic_btn" tappable (click)="profileView('block')">Block</ion-button>
      </ion-col>
      <ion-col  *ngIf="RegistrationType?.request_page == 'pending_customer' 
      || RegistrationType?.request_page == 'rejected_customer'">
        <ion-button class="ionic_btn" tappable (click)="profileView('approve')">Approve</ion-button>
       </ion-col>
       <ion-col  *ngIf="RegistrationType?.request_page == 'block_customer'">
        <ion-button class="ionic_btn" tappable (click)="profileView('approve')">Activate</ion-button>
       </ion-col>
<!-- 
       <ion-col>
         <ion-button class="ionic_btn">{{formValue?.footer_data?.btn_text}}</ion-button>
       </ion-col> -->
  </ion-row>
      </ion-col>
  </ion-row>
    
</ion-content>
