.customerPDiv{color:var(--headerColor);}
.container1{width: 100%;margin: 55px auto 0;}
.act{text-transform: initial;background: linear-gradient(195deg,#bb2929 57%,var(--headerColor) 33%) !important;
    border-radius: 8px;padding: 10px;width: 100%;color: #fff;height: 90px;}
hr {width: 100% !important;font-size: 1em !important; border: 0.5px solid gainsboro;}
.totalCount{font-weight: bold;font-size: 20px;  margin-top: 5px;  letter-spacing: 2px;}
.fontTDiv{font-size: 13px;line-height: 18px;}
.iconlogo{color:var(--headerColor);}