.arrowIcon{height: 20px;width: 100%; margin: auto;}
.boxS{box-shadow: 1px 0px 4px 1px #d2d2d2;margin-bottom: 10px;}
.mainTitle{color:var(--headerColor);font-weight: bold;}
.SettingTitle{font-size: 14px;}
ion-icon{margin: auto; display: block;color: var(--headerColor);}