.col{text-align: end;}
.overImgDiv { position: fixed; top: 50%; transform: translate(0%, -50%);}
.desktopDiv{ left:50%;transform: translate(-50%, -50%);}
.btnL{--border-radius: 20px;font-size: 14px;text-transform: initial;height: 35px;}