<ion-header>
  <ion-toolbar>
    <ion-title>{{allocatedPointsRes?.header_title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row *ngIf="allocatedPointsRes" class="ion-justify-content-center">
    <ion-col size-xl="6" size-md="6" size-xs="12" class="whiteCol ion-no-padding">
      <div style="background-image: url({{allocatedPointsRes?.header_bg}});" class="hedaerBackgroundImage ion-padding">
        <ion-row *ngFor="let item of allocatedPointsRes?.user_data" >
          <ion-col [size]="5" size-sm="5" size-md="3" size-lg="4"  push-lg="1" push-md="1">
            <h6 class="ion-no-margin ">{{item?.key}}</h6>
          </ion-col>
          <ion-col [size]="2" size-sm="2" size-md="2" size-lg="2">
            <h6 class="ion-no-margin ion-text-center">:</h6>
          </ion-col>
          <ion-col [size]="5" size-sm="5" size-md="3" size-lg="4"  push-lg="1" push-md="1">
            <h6 class="ion-no-margin">{{item.value}}</h6>
          </ion-col>
        </ion-row>
        <br>
        <ion-row *ngIf="allocatedPointsRes?.footer" (click)="customer_list()">
          <!-- <ion-col [size]="2"></ion-col>
          <ion-col [size]="2" class="ion-text-right">
            <img [src]="allocatedPointsRes?.footer?.icon" class="image" />
          </ion-col> -->
          <ion-col class="ion-text-center">
            <ion-button color="danger" size="small">{{allocatedPointsRes?.footer?.text}}</ion-button>
            <!-- <p class="ion-no-margin" >{{allocatedPointsRes?.footer?.text}}</p> -->
          </ion-col>
            <!-- <ion-col [size]="2"></ion-col> -->
        </ion-row>
      </div>
      </ion-col>
      </ion-row>
</ion-content>

