.para{margin-top:3px;margin-bottom:3px;font-size:14px;-webkit-user-select:auto;}
.imgcss{height:100px;width:100%;object-fit:contain;}
.purch{color:red;font-size:14px;font-weight:bold;padding-left:10px;}
.bo{font-weight:bold;}
.bgWalletImage{background-repeat: no-repeat;background-size: cover;padding: 5px;background-position: center;}