ion-select {width: 100%;justify-content: center;
    .select-icon{    
        .select-icon-inner {color : red !important; opacity: 1 !important;}
    }
  }
  .image-upload>input {display: none;}
  .contactImage{height: 30px;width: 100%;}
  .iconImage{height: 15px;width: 100%;}
  .pDiv{font-size: 13px;}
  .paddLeft0{padding-left:0px;}